body {
    padding: 40px 0;
}
.container {
    width: 960px;
    margin: 0 auto;
}
input,
button {
    border: 1px solid #2b2b2b !important;
    color: #2b2b2b;
    width: 100% !important;
    display: inline-block !important;
}
